.selectionModel-container {
    display: grid;
    align-items: center;
    line-height: 15px;
    margin: 10px;
    max-width: 430px;
}

.image-selection {
    display: flex;
    max-width: 450px;
    padding: 10px;
    margin-bottom: -10px;
}

.image {
    width: 430px;
    height: 600px;
    border-radius: 10px;
}

.image:hover {
    border-style: groove;
    border-width: 5px;
    border-color: rgb(156, 117, 193);
}

.box-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.name-selection, .selection-name {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.name-selection :hover {
    text-decoration: none;
    color: black;
}

.precio-selection {
    font-size: 18px;
    font-weight: 750;
    color: black;
}

.link-selection {
    font-weight: 900;
    color: black;
}

.link {
   text-decoration: none;
   text-transform: none;
}

.link:hover {
    text-decoration: none;
    color: black;
}

.modal-content{
    
}

@media (min-width: 1200px) {
    .box-description {
        padding: 10px 0px 0px 20px;
        margin-bottom: -10px;
    }
    .link {
        margin: 0px 0px 0px 20px;
    }
    .precio-selection {
        margin-right: 20px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .box-description {
        padding: 0px 0px 0px 40px;
        margin-bottom: -10px;
    }
    .link {
        margin: 0px 0px 0px 40px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .box-description {
        padding: 0px 0px 0px 40px;
        margin-bottom: -10px;
    }
    .link {
        margin: 0px 0px 0px 40px;
    }
}

@media (max-width: 767px) {
    .image {
        max-width: 400px;
        height: 500px;
    }
    .box-description {
        padding: 10px 50px 0px 20px;
        margin-bottom: -10px;
    }
    .precio-selection {
        margin-right: -30px;
    }
    .link {
        margin: 0px 0px 0px 20px;
    }
    .selectionModel-container {
        padding: 0px 0px 0px 0px;
        
    }
}